[user]
	name = Koji Shimba
	email = me@shimba.co
[color]
	ui = auto
[alias]
  a  = add
  br = branch
  c  = commit
  d  = diff
  l  = log
	s  = status
	sh = show
[mergetool]
	keepBackup = true
[core]
	excludesfile = /Users/bojovs/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
