"*":
  "aligner-css": {}
  "aligner-ruby": {}
  "aligner-scss": {}
  "autocomplete-emojis": {}
  "autocomplete-plus":
    fileBlacklist: [
      ".*"
    ]
  autosave:
    enabled: true
  core:
    allowPendingPaneItems: false
    audioBeep: false
    disabledPackages: [
      "atom-color-highlight"
    ]
    excludeVcsIgnoredPaths: true
    telemetryConsent: "limited"
    useCustomTitleBar: true
  editor:
    fontFamily: "Ricty Diminished"
    fontSize: 16
    invisibles: {}
    showIndentGuide: true
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "ec689dd8-f8c2-3b84-6e60-82f886bee482"
  "file-types":
    "jb": "source.ruby"
  linter:
    errorPanelHeight: 132
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
    lintInlineJavaScript: false
  metrics:
    userId: "ac7d9da1254a329593e491f3c946a8248950d5b8"
  "one-dark-ui": {}
  "rails-transporter": {}
  react: {}
  welcome:
    showOnStartup: false
