# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# '.workspace':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#

'.atom-workspace':
  'cmd-p': 'command-palette:toggle'
  'ctrl-w v': 'pane:split-right'
  'ctrl-w n': 'pane:split-down'
  'ctrl-w up': 'window:focus-pane-above'
  'ctrl-w down': 'window:focus-pane-below'
  'ctrl-w right': 'window:focus-pane-on-right'
  'ctrl-w left': 'window:focus-pane-on-left'

'.atom-text-editor':
  'ctrl-{': 'editor:fold-all'
  'ctrl-}': 'editor:unfold-all'
  'ctrl-[': 'editor:fold-current-row'
  'ctrl-]': 'editor:unfold-current-row'
